[submodule "third-party/imgui"]
	path = third-party/imgui
	url = git@github.com:ocornut/imgui.git
	branch = master
[submodule "third-party/glad"]
	path = third-party/glad
	url = git@github.com:Dav1dde/glad.git
	branch = 5bf3eda6da606324999775b88a90ed572202be93
[submodule "third-party/cmrc"]
	path = third-party/cmrc
	url = git@github.com:vector-of-bool/cmrc.git
[submodule "third-party/stb"]
	path = third-party/stb
	url = git@github.com:nothings/stb.git
[submodule "third-party/openh264"]
	path = third-party/openh264
	url = git@github.com:cisco/openh264.git
